LocalizationDemo/_ReSharper.LocalizationDemo
LocalizationDemo/LocalizationDemo.6.0.ReSharper.user
LocalizationDemo/LocalizationDemo.sln.docstates.suo
LocalizationDemo/LocalizationDemo.sln.suo
LocalizationDemo/LocalizationDemo/LocalizationDemo.csproj.user
LocalizationDemo/LocalizationDemo/bin
LocalizationDemo/LocalizationDemo/obj
LocalizationDemo/LocalizationDemo/LocalizationDemo.Publish.xml